html {
  font-size: 1rem;

}

body {
  background-color: #ffffff;
  font-family: "Primary Font", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  line-height: 1.25;
  color: #222222;
}

h1,
.h1 {
  font-size: 2.25rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: 1.875rem;

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 1.875rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

b,
strong {
  font-weight: 600;
  /* Equivalent to font-semibold in Tailwind */
}

.shadow {
  box-shadow: 0 10px 30px rgba(22, 28, 45, 0.1);
  /* Equivalent to rgb(22 28 45 / 10%) in Tailwind */
}